.card {
    box-shadow: 10px 10px 5px grey;
    padding: 0.5rem;
    border: black solid 1px;
    border-radius: 0.9rem;
    margin: 0.9rem;
    width: 14rem;
}

.image {
    width: 100%;
    //width: 10rem;
    height: 15rem;
}