.header {
    background-color: #38497E;
    color: white;
    padding: 1rem;
    margin: 0;
    height: 4rem;
    font-size: large;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}